:root {
    /* Colors */
    --colorMain: #70b657;
    --colorSecondory: #3e5eaa;
    --colorGray: #eff3f8;
    --colorGrayDark: #b6bbc0;
    /* Animation */
    --durationAnimation: 0.4s;
    /* Box shadow */
    --baseBoxShadow: inset 0 0 0 0 #222222, 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1),
        0 4px 14px rgba(0, 0, 0, 0.1), 0 8px 28px rgba(0, 0, 0, 0.1);
}

@font-face {
    font-family: "Helvetica";
    font-style: normal;
    font-weight: normal;
    src: url(../fonts/HelveticaNeue.ttf);
    /* Download font */
    font-display: swap;
}

@font-face {
    font-family: "Helvetica";
    font-style: normal;
    font-weight: 500;
    src: url(../fonts/HelveticaNeueCyr-Medium.otf);
    /* Download font */
    font-display: swap;
}

@font-face {
    font-family: "Helvetica";
    font-style: normal;
    font-weight: bold;
    src: url(../fonts/HelveticaNeueCyr-Bold.otf);
    /* Download font */
    font-display: swap;
}

body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-size: 16px;
    line-height: 1;
    font-family: "Helvetica", sans-serif;
    background-color: #f4f4f4;
}

*::-webkit-scrollbar {
    width: 16px;
}

*::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 1.5px #000000;
    box-shadow: inset 0 0 1.5px #000000;
    background-color: #fff;
}

*::-webkit-scrollbar-thumb {
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 30px var(--colorMain);
    box-shadow: inset 0 0 30px var(--colorMain);
}

/* Focus */

.js-focus-visible :focus:not(.focus-visible) {
    outline: none;
}

/* Color green */

.color-green {
    color: var(--colorMain);
}

/* Bg white */

.bg-white {
    background-color: #ffffff;
}

/* Section */

.section,
    main {
    padding: 100px 0;
}

@media (max-width: 991px) {
.section,
        main {
        padding: 70px 0;
    }
}

/* Margin horizontal */

@media (min-width: 991px) {
.margin-horizontal {
        margin: 0 50px;
    }
}

/* Subtitle */

.subtitle {
    margin: 0;
    text-transform: uppercase;
    font-size: 3.5rem;
    line-height: 1.2;
}

@media (max-width: 1440px) {
    body .subtitle {
        font-size: 3rem;
    }
}

@media (max-width: 991px) {
    body .subtitle {
        font-size: 2.2rem;
        text-align: center;
    }
}

@media (max-width: 568px) {
    body .subtitle {
        font-size: 1.4rem;
    }
}

.subtitle--right {
    text-align: right;
}

.subtitle--center {
    text-align: center;
}

/* Hidden */

.hidden {
    display: none;
}

/* Header */

.header {
    position: fixed;
    top: 0;
    left: 50%;
    z-index: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    width: 100%;
    margin: 0;
    padding: 30px 0;
    -webkit-transition: var(--durationAnimation, 0.4s);
    transition: var(--durationAnimation, 0.4s);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

@media (max-width: 991px) {
.header {
        padding: 20px 0;
    }
}

.header--box-shadow {
    -webkit-box-shadow: var(--baseBoxShadow);
    box-shadow: var(--baseBoxShadow);
}

.header--fixed {
    top: 0;
    padding: 10px 0;
    background-color: rgba(255, 255, 255, 0.7);
    -webkit-box-shadow: var(--baseBoxShadow);
    box-shadow: var(--baseBoxShadow);
}

.header__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    height: 100%;
    padding: 0 30px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

@media (max-width: 991px) {
.header__wrap {
        padding: 0 15px;
    }
}

.btn-reg {
    background-color: #ffffff;
    border-radius: 60px;
    color: var(--colorMain);
    border: 3px solid transparent;
    font-size: 1.6rem;
    -webkit-box-shadow: 0 20px 60px #00000029;
    box-shadow: 0 20px 60px #00000029;
    padding: 14px 34px;
    font-weight: bold;
    -webkit-transition: var(--durationAnimation);
    transition: var(--durationAnimation);
    text-align: center;
}

@media (max-width: 1024px) {
.btn-reg {
        width: 140px;
        padding: 15px 5px;
        font-size: 1.1rem;
    }
}

@media (max-width: 991px) {
.btn-reg {
        width: 120px;
        padding: 10px 15px;
        font-size: 0.8rem;
    }
}

@media (max-width: 568px) {
.btn-reg {
        padding: 7px 12px;
        font-size: 0.7rem;
    }
}

.btn-reg:hover {
    cursor: pointer;
    background-color: #86c171;
    color: #fff;
}

.header--fixed .btn-reg {
    border: 3px solid var(--colorMain);
}

/* Logo */

.logo {
    text-decoration: none;
    color: #000;
}

.logo__main,
.logo__slogan {
    margin: 0;
}

.logo__main {
    color: var(--colorMain);
    font-size: 4.8rem;
    font-weight: bold;
}

@media (max-width: 991px) {
.logo__main {
        font-size: 2.1rem;
    }
}

@media (max-width: 568px) {
.logo__main {
        font-size: 1.5rem;
    }
}

.logo__slogan {
    margin-top: 3px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.9rem;
}

@media (max-width: 991px) {
.logo__slogan {
        font-size: 0.4rem;
    }
}

@media (max-width: 568px) {
.logo__slogan {
        font-size: 0.4rem;
    }
}

.logo--white logo__main,
.logo--white logo__slogan {
    color: #ffffff;
}

/* Nav */

@media (max-width: 991px) {
.nav {
        display: none;
    }
}

.nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav__list-item {
    padding: 0 30px;
}

@media (max-width: 1480px) {
.nav__list-item {
        padding: 0 50px;
    }
}

@media (max-width: 1280px) {
.nav__list-item {
        padding: 0 20px;
    }
}

.nav__link {
    display: block;
    position: relative;
    color: #000000;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.4rem;
    padding: 20px 0;
    -webkit-transition: var(--durationAnimation);
    transition: var(--durationAnimation);
}

@media (max-width: 1280px) {
.nav__link {
        font-size: 1.2rem;
    }
}

.nav__link::after {
    position: absolute;
    left: 0;
    width: 100%;
    height: 6px;
    background-color: var(--colorMain);
    opacity: 0;
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
    transition: opacity 0.3s, -webkit-transform 0.3s;
    transition: opacity 0.3s, transform 0.3s;
    transition: opacity 0.3s, transform 0.3s, -webkit-transform 0.3s;
    content: "";
    bottom: 0;
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
}

.nav__link--active::after,
.nav__link:hover::after {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

.nav--hide {
    display: none;
}

/* Toggle menu */

@media (min-width: 991px) {
.toggle-menu-wrap {
        display: none;
    }
}

@media (min-width: 568px) and (max-width: 991px) {
.toggle-menu-wrap {
        width: 120px;
    }
}

.toggle-menu {
    width: 48px;
    height: 48px;
    padding: 10px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.toggle-menu--active {
    z-index: 3;
    border-radius: 4px;
    background-color: transparent;
}

.toggle-menu__line {
    position: relative;
    display: block;
    width: 100%;
    height: 2px;
    background-color: #222222;
    -webkit-transition: var(--durationAnimation, 0.4s);
    transition: var(--durationAnimation, 0.4s);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.toggle-menu__line::before,
.toggle-menu__line::after {
    position: relative;
    display: block;
    height: 2px;
    background-color: #222222;
    -webkit-transition: var(--durationAnimation, 0.4s);
    transition: var(--durationAnimation, 0.4s);
    content: "";
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.toggle-menu__line::before {
    top: -8px;
}

.toggle-menu__line::after {
    top: 6px;
}

.toggle-menu--active .toggle-menu__line {
    background-color: transparent;
}

.toggle-menu--active .toggle-menu__line::before {
    -webkit-transform: rotate(45deg) translate(5px, 5px);
    transform: rotate(45deg) translate(5px, 5px);
}

.toggle-menu--active .toggle-menu__line::after {
    -webkit-transform: rotate(-45deg) translate(6px, -6px);
    transform: rotate(-45deg) translate(6px, -6px);
}

/* Dropdown menu */

.dropdown-menu {
    display: none;
}

@media (max-width: 991px) {
.dropdown-menu {
        display: block;
        position: absolute;
        top: 60px;
        left: 20px;
        z-index: 1;
        margin: 0;
        padding: 0;
        text-align: left;
        -webkit-transition: 0.3s;
        transition: 0.3s;
        overflow: hidden;
        height: 0;
        -webkit-box-shadow: 5px 5px 7px 0px #212121;
        box-shadow: 5px 5px 7px 0px #212121;
    }

.dropdown-menu__list {
        margin: 0;
        padding: 0;
        list-style: none;
    }

.dropdown-menu--show {
        background-color: #ffffff;
        border: 1px solid #9ea4a7;
    }

.dropdown-menu__item {
        border-bottom: 1px solid #9ea4a7;
        -webkit-transition: 0.3s;
        transition: 0.3s;
        background-color: #ffffff;
    }

.dropdown-menu__item:last-child {
        border: none;
    }

.dropdown-menu__link {
        position: relative;
        width: 100%;
        font-weight: 500;
        display: block;
        padding: 12px 15px;
        color: #000;
        font-size: 1.3em;
        text-decoration: none;
        -webkit-transition: 0.3s;
        transition: 0.3s;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

.dropdown-menu__item:hover .dropdown-menu__link:hover::before,
.dropdown-menu__link--active::before {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 3px;
        height: 100%;
        background-color: var(--colorMain);
        content: "";
    }
}

/* Btn top */

.btn-top {
    position: fixed;
    right: 15px;
    bottom: 15px;
    opacity: 1;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 48px;
    height: 48px;
    /* Min height interactive elrement*/
    min-height: 44px;
    background-color: #ffffff;
    border: 2px solid var(--colorMain);
    border-radius: 50%;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    cursor: pointer;
}

.btn--hide {
    opacity: 0;
}

.btn-top:hover {
    background-color: var(--colorSecondory);
}

.icon-arrow-top {
    height: 100%;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

/* Wrap */

.wrap {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto 0;
    padding: 0 30px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

@media (max-width: 991px) {
.wrap {
        padding: 0 15px;
    }
}

.wrap.wrap--no-padding {
    padding: 0;
}

/* Text bold */

.text-bold {
    font-weight: bold;
}

/* Banner */

.banner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    background: url("../img/banner.jpg") no-repeat center/cover;
    height: 100vh;
    max-height: 460px;
}

@media (max-width: 991px) {
.banner {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        height: 60vh;
        background-position: 80% center;
    }
}

.banner__content {
    text-transform: uppercase;
    margin-bottom: 100px;
}

@media (max-width: 991px) {
.banner__content {
        margin-bottom: 50px;
        padding: 15px 0;
        background-color: #ffffff;
        border-radius: 60px;
    }
}

.banner__title {
    margin: 0;
    font-size: 2.5rem;
    font-weight: bold;
    line-height: 1.3;
}

@media (max-width: 991px) {
.banner__title {
        font-size: 2rem;
        text-align: center;
    }
}

@media (max-width: 568px) {
.banner__title {
        font-size: 1rem;
        text-align: center;
    }
}

/* About us */

.about-us {
    padding: 120px 0 0 0;
}

@media (max-width: 991px) {
.about-us {
        padding: 75px 0 70px 0;
    }
}

.about-us__bg {
    border-bottom: 1px solid gray;
}

@media (min-width: 1100px) {
.about-us__bg {
        max-width: 1200px;
        margin: 0 auto;
        padding-bottom: 70px;
        background: url("../img/about-us.png") no-repeat right/contain;
        background-position: bottom right;
        background-size: 450px;
    }
}

.about-us__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    margin-top: 80px;
    margin-bottom: 50px;
}

@media (max-width: 1350px) {
.about-us__content {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
}

@media (max-width: 991px) {
.about-us__content {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin-top: 40px;
    }
}

.about-us__img {
    display: block;
    max-width: 100%;
    width: 200px;
    height: auto;
    margin-right: 50px;
    -webkit-filter: drop-shadow(0 20px 60px #00000033);
    filter: drop-shadow(0 20px 60px #00000033);
}

@media (max-width: 1350px) {
.about-us__img {
        margin-right: 0;
        margin-bottom: 20px;
    }
}

@media (max-width: 991px) {
.about-us__img {
        width: 140px;
        height: 140px;
    }
}

@media (min-width: 1100px) {
.about-us__info {
        width: 700px;
        margin-right: 400px;
    }
}

@media (max-width: 1300px) {
.about-us__info {
        width: 510px;
    }
}

@media (max-width: 991px) {
.about-us__info {
        width: 100%;
    }
}

.about-us__paragraph {
    margin: 0 0 30px 0;
    font-size: 1.4rem;
    font-weight: normal;
    line-height: 1.4;
}

.about-us__paragraph:last-child {
    margin: 0;
}

@media (max-width: 991px) {
.about-us__paragraph {
        font-size: 1.2rem;
    }
}

@media (max-width: 991px) {
.about-us__paragraph:first-child {
        margin: 0 0 10px 0;
    }
}

/* Product */

@media (min-width: 1100px) {
.product {
        padding: 50px 0 100px;
        max-width: 1200px;
        margin: 0 auto;
        width: 100%;
        background: #fff url("../img/product.png") no-repeat left/contain;
        background-position: left bottom;
        background-size: 600px;
    }
}

body .text-big {
    font-size: 5rem;
}

@media (max-width: 991px) {
    html body .text-big {
        font-size: 2.5rem;
    }
}

@media (max-width: 568px) {
    body .text-big {
        font-size: 1.5rem;
    }
}

.product__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

@media (max-width: 991px) {
.product__content {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
}

.product__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

@media (max-width: 991px) {
.product__item {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        text-align: center;
    }
}

.product__item:first-child {
    margin-bottom: 60px;
}

@media (max-width: 991px) {
.product__item:first-child {
        margin-bottom: 70px;
    }
}

.product__info {
    margin-top: 70px;
    text-align: right;
}

@media (min-width: 1100px) {
.product__info {
        width: 800px;
        margin-left: 40px;
    }
}

@media (max-width: 568px) {
.product__info {
        margin-top: 50px;
    }
}

@media (min-width: 991px) {
.product__text {
        margin-right: 30px;
    }
}

.product__name {
    margin: 0 0 10px 0;
    font-size: 2rem;
}

@media (max-width: 991px) {
.product__name {
        margin: 0 0 5px 0;
        font-size: 1.5rem;
    }
}

.product__paragraph {
    margin: 0;
    font-size: 1.5rem;
    line-height: 1.3;
}

@media (max-width: 991px) {
.product__paragraph {
        margin: 0 0 20px 0;
        font-size: 1.2rem;
    }
}

.product__img {
    display: block;
    max-width: 100%;
    width: 140px;
    height: auto;
    -webkit-filter: drop-shadow(0 20px 60px #00000033);
    filter: drop-shadow(0 20px 60px #00000033);
}

@media (max-width: 568px) {
.product__img {
        width: 140px;
        height: 140px;
    }
}

/* Tabs */

.tabs {
    width: 100%;
    padding: 0;
    margin-top: 30px;
}

.tabs__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
    list-style: none;
}

@media (max-width: 1160px) {
.tabs__list {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        margin-top: 30px;
    }
}

.tabs__link {
    display: inline-block;
    margin: 0;
    padding: 25px 50px 25px 30px;
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 500;
}

@media (max-width: 1510px) {
.tabs__link {
        padding: 15px 20px;
        font-size: 1.4rem;
    }
}

@media (max-width: 991px) {
.tabs__link {
        padding: 15px 20px;
    }
}

@media (max-width: 568px) {
.tabs__link {
        font-size: 0.9rem;
    }
}

.tabs__item:first-child .tabs__link {
    -webkit-box-shadow: 0 20px 60px #00000029;
    box-shadow: 0 20px 60px #00000029;
    border-radius: 60px 0 0 60px;
    margin-right: 10px;
    text-align: right;
}

.tabs__link {
    background-color: #9f9f9f;
    border-radius: 0 60px 60px 0;
}

.tabs__link--green.tabs__link--active {
    background-color: var(--colorMain);
    color: #ffffff;
}

.tabs__link--blue.tabs__link--active {
    background-color: var(--colorSecondory);
}

.tabs__link--green:hover {
    background-color: var(--colorMain);
}

.tabs__link--blue:hover {
    background-color: var(--colorSecondory);
}

.tabs__link--active:hover {
    cursor: default;
}

.tabs__section {
    margin: 0;
}

@media (max-width: 568px) {
.tabs__section {
        border-top: none;
    }
}

/* Work */

.work.section {
    padding: 120px 0 0 0;
}

@media (max-width: 991px) {
.work.section {
        padding: 75px 0 0 0;
    }
}

.work__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

@media (max-width: 1160px) {
.work__header {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
}

.work__preview {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
}

@media (min-width: 1140px) {
.work__bg {
        max-width: 1200px;
        margin: 0 auto;
        background: url("../img/work.png") no-repeat right/contain;
    }
}

@media (max-width: 1540px) {
.work__bg {
        background-position: bottom right;
        background-size: 450px;
    }
}

@media (max-width: 1350px) {
.work__bg {
        background-size: 450px;
    }
}

.work__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 70px 0;
}

@media (max-width: 991px) {
.work__content {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        padding: 30px 0;
    }
}

.work__info {
    margin-bottom: 50px;
}

@media (min-width: 1140px) {
.work__info {
        width: 50%;
    }
}

.work__preview {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.work__element {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 50px;
}

@media (max-width: 991px) {
.work__element {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin-top: 0;
    }
}

.work__element-paragraph {
    margin: 0;
    font-size: 2.2rem;
    font-weight: bold;
}

@media (max-width: 991px) {
.work__element-paragraph {
        font-size: 2rem;
        margin-top: 30px;
        text-align: center;
    }
}

@media (max-width: 568px) {
.work__element-paragraph {
        font-size: 1.5rem;
        margin-top: 30px;
    }
}

@media (min-width: 991px) {
.work__item {
        width: calc(100% / 3 - 50px);
        margin-bottom: 50px;
    }
}

@media (max-width: 991px) {
.work__item {
        margin-bottom: 50px;
    }
}

.work__img {
    display: block;
    max-width: 100%;
    width: 140px;
    height: auto;
    -webkit-filter: drop-shadow(0 20px 60px #00000033);
    filter: drop-shadow(0 20px 60px #00000033);
}

@media (min-width: 991px) {
.work__img {
        margin-right: 50px;
    }
}

@media (max-width: 991px) {
.work__img {
        width: 140px;
        height: 140px;
    }
}

.work__content-img {
    display: block;
    width: 140px;
    height: 140px;
    margin-bottom: 20px;
    object-fit: contain;
}

@media (max-width: 991px) {
.work__content-img {
        margin: 0 auto 20px;
    }
}

.work__paragraph:first-child {
    margin-bottom: 20px;
}

.work__paragraph {
    margin: 0;
    font-size: 1.3rem;
    line-height: 1.3;
}

@media (max-width: 991px) {
.work__paragraph {
        font-size: 1.4rem;
        text-align: center;
    }
}

.work__list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.work__list-item {
    margin-bottom: 30px;
    font-size: 1.2rem;
    line-height: 1.5;
}

.work__list-item:last-child {
    margin-bottom: 0;
}

@media (max-width: 991px) {
.work__list-item {
        margin-bottom: 15px;
        font-size: 1.2rem;
    }
}

.work__list-item::before {
    content: "—";
    position: relative;
    left: -5px;
}

/* Clients */

.clients__preview {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    margin-top: 50px;
}

@media (max-width: 991px) {
.clients__preview {
        margin-top: 0;
    }
}

.clients__line {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    margin-bottom: 50px;
}

@media (max-width: 991px) {
.clients__line {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
}

.clients__line--right {
    text-align: right;
}

@media (max-width: 991px) {
.clients__line--right .clients__paragraph {
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
    }

.clients__line--right .clients__img {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
    }
}

.clients__img {
    display: block;
    max-width: 100%;
    width: 140px;
    height: auto;
    margin: 0 15px;
}

.clients__paragraph {
    margin: 0;
    font-size: 1.5rem;
    font-weight: 500;
}

@media (max-width: 991px) {
.clients__paragraph {
        font-size: 1.2rem;
        text-align: left;
    }

    body .clients__preview .clients__paragraph {
        text-align: center;
    }
}

.clients__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 150px;
}

@media (max-width: 991px) {
.clients__content {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        margin-top: 30px;
    }
}

@media (min-width: 991px) {
.clients__img {
        margin-right: 30px;
    }
}

@media (min-width: 991px) {
.clients__line--right .clients__img {
        margin-right: 0;
        margin-left: 30px;
    }
}

@media (max-width: 991px) {
.clients__img {
        width: 140px;
        height: 140px;
        margin: 0 auto 15px;
    }
}

.clients__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    width: 50%;
}

@media (max-width: 991px) {
.clients__item {
        flex-direction: column;
        width: 100%;
    }
}

@media (min-width: 991px) {
.clients__item:first-child {
        margin-right: 15px;
    }
}

@media (min-width: 991px) {
.clients__item:last-child {
        margin-left: 15px;
    }
}

.clients__item .clients__paragraph {
    font-size: 1.3rem;
    line-height: 1.4;
}

@media (max-width: 991px) {
.clients__item .clients__paragraph {
        font-size: 1.2rem;
        text-align: center;
    }
}

@media (max-width: 991px) {
.clients__item:first-child {
        margin-bottom: 40px;
    }
}

/* Advantages */

.advantages {
    margin-top: 80px;
}

@media (max-width: 991px) {
.advantages {
        margin-top: 70px;
    }
}

.advantages__title {
    margin: 0 0 80px 0;
    color: var(--colorSecondory);
    text-align: center;
    font-size: 3.5rem;
    font-weight: 500;
}

@media (max-width: 991px) {
.advantages__title {
        font-size: 2rem;
    }
}

.advantages__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

@media (max-width: 991px) {
.advantages__content {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
}

.advantages__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    margin-bottom: 70px;
}

@media (min-width: 991px) {
.advantages__item {
        width: calc(100% / 3 - 50px);
    }
}

@media (max-width: 991px) {
.advantages__item {
        margin-bottom: 50px;
    }
}

.advantages__img {
    display: block;
    max-width: 100%;
    width: 140px;
    height: 140px;
    object-fit: contain;
    margin-bottom: 30px;
}

@media (max-width: 991px) {
.advantages__img {
        margin: 0 auto 20px;
    }
}

.advantages__paragraph {
    margin: 0;
    font-size: 1.3rem;
    line-height: 1.4;
}

@media (max-width: 991px) {
.advantages__paragraph {
        font-size: 1.3rem;
        text-align: center;
    }
}

/* Reg */

.reg {
    padding: 100px 0 50px 0;
    background-color: #f4f4f4;
}

.reg__content {
    position: relative;
}

.reg__img {
    position: absolute;
    top: -150px;
    left: 50%;
    display: block;
    width: 200px;
    max-width: 100%;
    height: auto;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

@media (max-width: 991px) {
.reg__img {
        width: 150px;
        top: -120px;
    }
}

.reg__form {
    max-width: 100% !important;
    padding: 100px 50px;
}

@media (max-width: 991px) {
.reg__form {
        padding: 50px 15px;
    }
}

.reg__input::-webkit-input-placeholder,
.reg__input::-webkit-input-placeholder,
.reg__input::-moz-placeholder,
.reg__input:-ms-input-placeholder,
.reg__input::-ms-input-placeholder,
.reg__input,
.reg__input::placeholder {
    font-size: 1.3rem;
    color: #b1b1b1;
}

@media (max-width: 991px) {
.reg__input::-webkit-input-placeholder,
.reg__input::-webkit-input-placeholder,
.reg__input::-moz-placeholder,
.reg__input:-ms-input-placeholder,
.reg__input::-ms-input-placeholder,
.reg__input,
.reg__input::placeholder {
        font-size: 1rem;
    }
}

.reg__message {
    margin: 0 0 30px 0;
    font-size: 1.5rem;
    text-align: center;
}

@media (max-width: 991px) {
.reg__message {
        font-size: 1.2rem;
    }
}

.reg__paragraph {
    margin: 0 0 250px 0;
    text-align: center;
    font-size: 2.2rem;
}

@media (max-width: 991px) {
.reg__paragraph {
        margin: 0 0 200px 0;
        font-size: 1.5rem;
    }
}

.reg__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-shadow: 0 20px 99px #00000029;
    box-shadow: 0 20px 99px #00000029;
    border-radius: 60px;
    margin: 0 auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.reg__input,
.reg__select {
    width: 100%;
    margin-bottom: 30px;
    padding: 20px 25px 17px;
    border-radius: 60px;
    border: 1px solid #777777;
    font-family: inherit;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 1.2rem;
}

@media (max-width: 991px) {
.reg__input,
.reg__select {
        padding: 12px 15px 8px;
        font-size: 1rem;
    }
}

.reg__select {
    line-height: 1;
}

@media (max-width: 991px) {
.reg__input,
.reg__select {
        width: 100%;
    }
}

.reg__select {
    background-color: #fff;
}

.reg__btn {
    padding: 27px 40px;
    background-color: var(--colorMain);
    color: #ffffff;
    border: none;
    width: auto;
    font-weight: bold;
    -webkit-box-shadow: 0 20px 60px #00000029;
    box-shadow: 0 20px 60px #00000029;
    border-radius: 60px;
    font-size: 1.5rem;
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
}

.reg__btn:hover {
    cursor: pointer;
    background-color: #86c171;
}

@media (max-width: 991px) {
.reg__btn {
        padding: 15px 20px;
        font-size: 1.5rem;
    }
}

.reg__link {
    color: #000;
}

/* Select */

.select-wrap {
    width: 0%;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

@media (min-width: 991px) {
.select-wrap {
        width: 100%;
    }
}

.select-wrap::after {
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    content: "\25BC";
    font-size: 24px;
    position: absolute;
    right: 25px;
    cursor: pointer;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    pointer-events: none;
    color: var(--colorMain);
}

select {
    width: 100% !important;
    background-color: #ffffff;
    -webkit-box-shadow: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    cursor: pointer;
}

select option {
    background-color: #ffffff;
    font-weight: bold;
}

select::-ms-expand {
    display: none;
}

/* Modal */

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%;
    border: 1px solid #707070;
    opacity: 1;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.modal__img {
    position: relative;
    top: 40px;
    left: 50%;
    -webkit-transform: translate(-50%);
    transform: translate(-50%);
    z-index: 1;
    width: 150px;
}

.modal__wrap {
    position: relative;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    max-height: 1500px;
}

.modal__content {
    max-width: 500px;
    border-radius: 5px;
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.modal--open {
    z-index: 5;
    visibility: visible;
    opacity: 1;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    overflow-y: auto;
}

/* Bg */

.bg {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: rgba(62, 94, 170, 0.6);
    content: "";
    display: none;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}

.bg--active {
    display: inline-block;
}

.modal--open .modal__content {
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

.modal__form {
    position: relative;
    top: -30px;
    padding: 100px 50px;
    background-color: #fff;
    -webkit-box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.2);
    border-radius: 60px;
    text-align: center;
}

@media (max-width: 991px) {
.modal__form {
        padding: 100px 15px;
    }
}

.btn--close {
    position: absolute;
    top: -80px;
    right: -50px;
    width: 84px;
    height: 84px;
    border: none;
    border-radius: 5px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    cursor: pointer;
    background: none;
}

@media (max-width: 991px) {
.btn--close {
        top: -100px;
        right: 0;
    }
}

.btn--close:hover {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.cross {
    position: absolute;
    width: 5px;
    height: 5px;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.cross::before,
.cross::after {
    content: "";
    position: absolute;
    left: -8px;
    width: 50px;
    height: 5px;
    background-color: #fff;
}

.cross::before {
    top: 1px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.cross::after {
    bottom: 0;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
}

.block {
    width: 100%;
}

.wrap.blocks {
    max-width: 1200px;
}

@media (max-width: 991px) {
.wrap.blocks {
        padding: 0;
    }
}

.blocks .block:first-child {
    border-bottom: 1px solid gray;
}

.modal__input::-webkit-input-placeholder,
.modal__input::-moz-placeholder,
.modal__input:-ms-input-placeholder,
.modal__input::-ms-input-placeholder,
.modal__input,
.modal__input::placeholder {
    font-size: 1.2rem;
}

.modal__message {
    margin: 0 0 30px 0;
    font-size: 1.2rem;
    text-align: center;
}

@media (max-width: 991px) {
.modal__message {
        font-size: 1.2rem;
    }
}

.modal__input,
.modal__select {
    width: 100%;
    margin-bottom: 30px;
    padding: 20px 25px;
    border-radius: 60px;
    border: 1px solid #777777;
    font-family: inherit;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 1.2rem;
}

@media (max-width: 991px) {
.modal__input,
.modal__select {
        padding: 12px 15px 8px;
        font-size: 1rem;
    }
}
/* Scroll hidden */

.scroll--hidden {
    overflow-y: hidden;
}

.modal__btn {
    padding: 20px 30px;
    background-color: var(--colorMain);
    color: #ffffff;
    border: none;
    width: auto;
    -webkit-box-shadow: 0 20px 60px #00000029;
    box-shadow: 0 20px 60px #00000029;
    border-radius: 60px;
    font-size: 1.3rem;
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
    margin: 0 auto;
}

.modal__btn:hover {
    cursor: pointer;
    background-color: #86c171;
}

@media (max-width: 991px) {
	.modal__btn {
        padding: 15px 20px;
        font-size: 1.5rem;
    }
}
