:root {
    /* Colors */
    --colorMain: #70b657;
    --colorSecondory: #3e5eaa;
    --colorGray: #eff3f8;
    --colorGrayDark: #b6bbc0;
    /* Animation */
    --durationAnimation: 0.4s;
    /* Box shadow */
    --baseBoxShadow: inset 0 0 0 0 #222222, 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1),
    0 4px 14px rgba(0, 0, 0, 0.1), 0 8px 28px rgba(0, 0, 0, 0.1);
}

@font-face {
    font-family: "Helvetica";
    font-style: normal;
    font-weight: normal;
    src: url(../fonts/HelveticaNeue.ttf);
    /* Download font */
    font-display: swap;
}

@font-face {
    font-family: "Helvetica";
    font-style: normal;
    font-weight: bold;
    src: url(../fonts/HelveticaNeueCyr-Bold.otf);
    /* Download font */
    font-display: swap;
}

@font-face {
    font-family: "Helvatica";
    font-style: normal;
    font-weight: 500;
    src: url(../fonts/HelveticaNeueCyr-Medium.otf);
    /* Download font */
    font-display: swap;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
    font-size: 16px;
    line-height: 1;
    font-family: "Helvetica", sans-serif;
}

body::-webkit-scrollbar {
    width: 16px;
}

body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 1.5px #000000;
}

body::-webkit-scrollbar-thumb {
    border-radius: 5px;
    box-shadow: inset 0 0 30px var(--colorMain);
}

/* Focus */

.js-focus-visible :focus:not(.focus-visible) {
    outline: none;
}

/* Header */

.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    margin: 0;
    padding: 25px 0;
    transition: var(--durationAnimation, 0.4s);
    box-sizing: border-box;
    backdrop-filter: blur(29px);
}

@media (max-width: 991px) {
    .header {
        padding: 20px 0;
    }
}

.header--box-shadow {
    box-shadow: var(--baseBoxShadow);
}

.header--fixed {
    top: 0;
    padding: 10px 0;
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: var(--baseBoxShadow);
}

.header__wrap {
    width: 100%;
    max-width: 1740px;
    height: 100%;
    padding: 0 50px;
    box-sizing: border-box;
}

@media (max-width: 991px) {
    .header__wrap {
        padding: 0 15px;
    }
}

.header__main {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__controls {
    display: flex;
    align-items: center;
}

@media (max-width: 991px) {
    .header__controls {
        display: none;
    }
}

.btn-reg {
    width: 232px;
    background-color: #fff;
    border-radius: 60px;
    color: var(--colorMain);
    border: none;
    font-size: 1.6rem;
    box-shadow: 0px 20px 60px #00000029;
    padding: 15px 36px;
    font-weight: bold;
    transition: 0.3s;
    text-align: center;
}

@media (max-width: 1024px) {
    .btn-reg {
        width: 160px;
        padding: 15px 5px;
        font-size: 1.1rem;
    }
}

@media (max-width: 991px) {
    .btn-reg {
        width: 110px;
        padding: 10px 15px;
        font-size: 0.8rem;
    }
}

@media (max-width: 568px) {
    .btn-reg {
        padding: 7px 12px;
        font-size: 0.7rem;
    }
}

.btn-reg:hover {
    cursor: pointer;
    background-color: #86c171;
    color: #fff;
}

.header--fixed .btn-reg {
    border: 4px solid var(--colorMain);
}

/* Logo */

.logo {
    text-decoration: none;
    color: #000;
}

.logo__main,
.logo__slogan {
    margin: 0;
}

.logo__main {
    color: var(--colorMain);
    font-size: 4.8rem;
    font-weight: bold;
}

@media (max-width: 991px) {
    .logo__main {
        font-size: 2.1rem;
    }
}

@media (max-width: 568px) {
    .logo__main {
        font-size: 1.5rem;
    }
}

.logo__slogan {
    margin-top: 3px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.9rem;
}

@media (max-width: 991px) {
    .logo__slogan {
        font-size: 0.4rem;
    }
}

@media (max-width: 568px) {
    .logo__slogan {
        font-size: 0.4rem;
    }
}

.logo--white * {
    color: #fff;
}

/* Nav */

@media (max-width: 991px) {
    .nav {
        display: none;
    }
}

.nav__list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav__list-item {
    padding: 0 100px;
}

@media (max-width: 1480px) {
    .nav__list-item {
        padding: 0 50px;
    }
}

@media (max-width: 1280px) {
    .nav__list-item {
        padding: 0 20px;
    }
}

.nav__link {
    display: block;
    position: relative;
    color: #000;
    text-transform: uppercase;
    text-decoration: none;
    font-family: "Helvetica", sans-serif;
    font-weight: bold;
    font-size: 1.6rem;
    padding: 20px 0;
    transition: var(--durationAnimation);
}

@media (max-width: 1280px) {
    .nav__link {
        font-size: 1rem;
    }
}

.nav__link::after {
    position: absolute;
    left: 0;
    width: 100%;
    height: 6px;
    background-color: var(--colorMain);
    opacity: 0;
    transition: opacity 0.3s, transform 0.3s;
    content: "";
    bottom: 0;
    transform: translateY(10px);
}

.nav__link--active::after,
.nav__link:focus::after,
.nav__link:hover::after {
    opacity: 1;
    transform: translateY(0);
}

.nav--hide {
    display: none;
}

/* Toggle menu */

@media (min-width: 991px) {
    .toggle-menu-wrap {
        display: none;
    }
}

@media (min-width: 568px) and (max-width: 991px) {
    .toggle-menu-wrap {
        width: 120px;
    }
}

.toggle-menu {
    width: 48px;
    height: 48px;
    padding: 10px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.toggle-menu--active {
    z-index: 3;
    border-radius: 4px;
    background-color: transparent;
}

.toggle-menu__line {
    position: relative;
    display: block;
    width: 100%;
    height: 2px;
    background-color: #222222;
    transition: var(--durationAnimation, 0.4s);
    backface-visibility: hidden;
}

.toggle-menu__line::before,
.toggle-menu__line::after {
    position: relative;
    display: block;
    height: 2px;
    background-color: #222222;
    transition: var(--durationAnimation, 0.4s);
    content: "";
    backface-visibility: hidden;
}

.toggle-menu__line::before {
    top: -8px;
}

.toggle-menu__line::after {
    top: 6px;
}

.toggle-menu--active .toggle-menu__line {
    background-color: transparent;
}

.toggle-menu--active .toggle-menu__line::before {
    transform: rotate(45deg) translate(5px, 5px);
}

.toggle-menu--active .toggle-menu__line::after {
    transform: rotate(-45deg) translate(6px, -6px);
}

/* Dropdown menu */

.dropdown-menu {
    display: none;
}

@media (max-width: 991px) {
    .dropdown-menu {
        display: block;
        position: absolute;
        top: 70px;
        left: 20px;
        z-index: 1;
        margin: 0;
        padding: 0;
        text-align: left;
        transition: 0.3s;
        overflow: hidden;
        height: 0;
        box-shadow: 5px 5px 7px 0px #212121;
    }

    .dropdown-menu__list {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .dropdown-menu--show {
        background-color: #ffffff;
        border: 1px solid #9ea4a7;
    }

    .dropdown-menu__item {
        border-bottom: 1px solid #9ea4a7;
        transition: 0.3s;
        background-color: #ffffff;
    }

    .dropdown-menu__item:last-child {
        border: none;
    }

    .dropdown-menu__link {
        position: relative;
        width: 100%;
        display: block;
        padding: 12px 15px;
        color: #000;
        font-size: 1.3em;
        text-decoration: none;
        transition: 0.3s;
        box-sizing: border-box;
    }

    .dropdown-menu__item:hover .dropdown-menu__link:hover::before,
    .dropdown-menu__link--active::before {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 3px;
        height: 100%;
        background-color: var(--colorMain);
        content: "";
    }
}

/* Btn top */

.btn-top {
    position: fixed;
    right: 15px;
    bottom: 15px;
    opacity: 1;
    display: inline-flex;
    width: 48px;
    height: 48px;
    /* Min height interactive elrement*/
    min-height: 44px;
    background-color: #ffffff;
    border: 2px solid var(--colorMain);
    border-radius: 50%;
    transition: 0.5s;
    cursor: pointer;
}

.btn--hide {
    opacity: 0;
}

.btn-top:hover {
    background-color: #f8c9bf;
}

.icon-arrow-top {
    height: 100%;
    transition: 0.3s;
}

/* Wrap */

.wrap {
    width: 100%;
    max-width: 1740px;
    margin: 0 auto 0;
    padding: 0 55px;
    box-sizing: border-box;
}

@media (max-width: 991px) {
    .wrap {
        padding: 0 15px;
    }
}

.wrap.wrap--no-padding {
    padding: 0;
}

/* Text bold */

.text-bold {
    font-weight: bold;
}

/* Banner */

.banner {
    display: flex;
    align-items: flex-end;
    background: url("../img/banner.jpg") no-repeat center/cover;
    height: 100vh;
    max-height: 850px;
}

@media (max-width: 991px) {
    .banner {
        justify-content: center;
        background-position: 80% center;
    }
}

.banner__content {
    text-transform: uppercase;
    margin-bottom: 210px;
}

@media (max-width: 991px) {
    .banner__content {
        padding: 15px 0;
        background-color: #fff;
        border-radius: 60px;
    }
}

.banner__title {
    margin: 0;
    font-size: 3.1rem;
    font-weight: bold;
    line-height: 1.3;
}

@media (max-width: 991px) {
    .banner__title {
        font-size: 2rem;
        text-align: center;
    }
}

@media (max-width: 568px) {
    .banner__title {
        font-size: 1rem;
        text-align: center;
    }
}

/* Color green */

.color-green {
    color: var(--colorMain);
}

/* About us */

.about-us {
    padding: 100px 0;
}

@media (min-width: 991px) {
    .about-us__bg {
        background: url("../img/about-us.png") no-repeat right/contain;
    }
}

.about-us__content {
    display: flex;
    margin-top: 80px;
}

@media (max-width: 991px) {
    .about-us__content {
        flex-direction: column;
        align-items: center;
        margin-top: 40px;
    }
}

.about-us__img {
    display: block;
    max-width: 100%;
    height: auto;
    width: 250px;
    height: 250px;
    display: block;
    margin-right: 50px;
    filter: drop-shadow(0 20px 60px #00000033);
}

@media (max-width: 991px) {
    .about-us__img {
        margin-right: 0;
        margin-bottom: 20px;
    }
}

@media (max-width: 568px) {
    .about-us__img {
        width: 100px;
        height: 100px;
    }
}

@media (min-width: 991px) {
    .about-us__info {
        width: 700px;
        margin-right: 630px;
    }
}

.about-us__paragraph {
    margin: 0 0 50px 0;
    font-size: 2rem;
    font-weight: normal;
    line-height: 1.4;
}

@media (max-width: 991px) {
    .about-us__paragraph {
        font-size: 1.2rem;
    }
}

/* Product */

@media (min-width: 991px) {
    .product {
        background: url("../img/product.png") no-repeat left/contain;
    }
}

body .text-big {
    font-size: 10rem;
}

@media (max-width: 1300px) {
    body .text-big {
        font-size: 8rem;
    }
}

@media (max-width: 991px) {
    body .text-big {
        font-size: 2.5rem;
    }
}

@media (max-width: 568px) {
    body .text-big {
        font-size: 1.5rem;
    }
}

.product__content {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.product__item {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

@media (max-width: 991px) {
    .product__item {
        flex-direction: column;
        text-align: center;
    }
}

.product__item:first-child {
    margin-bottom: 80px;
}

@media (max-width: 991px) {
    .product__item:first-child {
        margin-bottom: 50px;
    }
}

.product__info {
    margin-top: 120px;
    text-align: right;
}

@media (min-width: 991px) {
    .product__info {
        width: 50%;
    }
}

@media (max-width: 568px) {
    .product__info {
        margin-top: 50px;
    }
}

@media (min-width: 991px) {
    .product__text {
        margin-right: 30px;
    }
}

.product__name {
    margin: 0 0 20px 0;
    font-size: 2.5rem;
}

@media (max-width: 991px) {
    .product__name {
        margin: 0 0 5px 0;
        font-size: 1.5rem;
    }
}

/* Sectioт */

section {
    padding: 100px 0;
}

@media (max-width: 991px) {
    section {
        padding: 50px 0;
    }
}

.product__paragraph {
    margin: 0;
    font-size: 2rem;
    line-height: 1.3;
}

@media (max-width: 991px) {
    .product__paragraph {
        margin: 0 0 20px 0;
        font-size: 1.5rem;
    }
}

.product__img {
    display: block;
    max-width: 100%;
    width: 250px;
    height: auto;
    filter: drop-shadow(0 20px 60px #00000033);
}

@media (max-width: 568px) {
    .product__img {
        width: 100px;
    }
}

/* Tabs */

.tabs__list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.tabs__link {
    display: inline-block;
    padding: 25px;
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
}

@media (max-width: 568px) {
    .tabs__link {
        font-size: 0.8rem;
    }
}

.tabs__item:first-child .tabs__link {
    box-shadow: 0 20px 60px #00000029;
    border-radius: 60px 0 0 60px;
    margin-right: 10px;
    text-align: right;
}

.tabs__link--green {
    background-color: #9f9f9f;
    border-radius: 0px 60px 60px 0px;
}

.tabs__link--blue {
    background-color: #9f9f9f;
    border-radius: 0px 60px 60px 0px;
}

.tabs__link--green.tabs__link--active {
    background-color: var(--colorMain);
    color: #ffffff;
}

.tabs__link--blue.tabs__link--active {
    background-color: var(--colorSecondory);
}

.tabs__link--green:hover {
    background-color: var(--colorMain);
}

.tabs__link--blue:hover {
    background-color: var(--colorSecondory);
}

.tabs__link--active:hover {
    cursor: default;
}

/* Work */

.work__header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

@media (max-width: 991px) {
    .work__header {
        flex-direction: column;
        align-items: center;
    }
}

.work__preview {
    display: flex;
    width: 100%;
}

@media (min-width: 991px) {
    .work__bg {
        background: url("../img/work.png") no-repeat right/contain;
    }
}

.work__content {
    display: flex;
}

@media (max-width: 991px) {
    .work__content {
        flex-direction: column;
    }
}

@media (min-width: 991px) {
    .work__info {
        width: 50%;
    }
}

.work__preview {
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
}

.work__element {
    display: flex;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 100px;
}

@media (max-width: 991px) {
    .work__element {
        flex-direction: column;
        align-items: center;
    }
}

.work__element-paragraph {
    margin: 0;
    font-size: 3.5rem;
    font-weight: bold;
}

@media (max-width: 991px) {
    .work__element-paragraph {
        font-size: 2rem;
        margin-top: 30px;
    }
}

@media (max-width: 568px) {
    .work__element-paragraph {
        font-size: 1.5rem;
        margin-top: 30px;
    }
}

@media (min-width: 991px) {
    .work__item {
        width: calc(100% / 3 - 100px);
        margin-bottom: 50px;
    }
}

@media (min-width: 991px) {
    .work__item:nth-child(2) {
        margin: 0 100px;
    }
}

@media (max-width: 991px) {
    .work__item {
        margin-bottom: 50px;
    }
}

.work__img {
    display: block;
    max-width: 100%;
    height: auto;
    filter: drop-shadow(0 20px 60px #00000033);
}

@media (min-width: 991px) {
    .work__img {
        margin-right: 30px;
    }
}

@media (max-width: 568px) {
    .work__img {
        width: 100px;
    }
}

.work__content-img {
    margin-bottom: 10px;
}

.work__content-img {
    height: 100px;
}

.work__paragraph:first-child {
    margin-bottom: 40px;
}

.work__paragraph {
    margin: 0;
    font-size: 1.8rem;
    line-height: 1.3;
}

@media (max-width: 991px) {
    .work__paragraph {
        font-size: 1.4rem;
    }
}

.work__list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.work__list-item {
    margin-bottom: 50px;
    font-size: 1.7rem;
    line-height: 1.5;
}

.work__list-item:last-child {
    margin-bottom: 0;
}

@media (max-width: 991px) {
    .work__list-item {
        margin-bottom: 15px;
        font-size: 1.2rem;
    }
}

.work__list-item::before {
    content: "—";
    position: relative;
    left: -5px;
}

/* Clients */

.clients__preview {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.clients__line {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.clients__line--right {
    text-align: right;
}

.clients__img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 15px;
}

.clients__paragraph {
    margin: 0;
    font-size: 2.5rem;
    font-weight: 500;
}

@media (max-width: 991px) {
    .clients__paragraph {
        font-size: 1.5rem;
    }
}

.clients__content {
    display: flex;
    margin-top: 150px;
}

@media (max-width: 991px) {
    .clients__content {
        flex-direction: column;
    }
}

.clients__img {
    margin-right: 30px;
}

.clients__item {
    display: flex;
    align-items: flex-start;
}

@media (max-width: 991px) {
    .clients__item:first-child {
        margin-bottom: 40px;
    }
}

/* Advantages */

.advantages {
    margin-top: 150px;
}

@media (max-width: 991px) {
    .advantages {
        margin-top: 70px;
    }
}

.advantages__title {
    margin: 0 0 80px 0;
    color: var(--colorSecondory);
    text-align: center;
    font-size: 3.5rem;
}

@media (max-width: 991px) {
    .advantages__title {
        font-size: 2rem;
    }
}

.advantages__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media (max-width: 991px) {
    .advantages__content {
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }
}

.advantages__item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 70px;
}

@media (min-width: 991px) {
    .advantages__item {
        width: calc(100% / 3 - 100px);
    }
}

@media (max-width: 991px) {
    .advantages__item {
        margin-bottom: 50px;

    }
}

@media (min-width: 991px) {
    .margin-horizontal {
        margin: 0 70px;
    }
}

.advantages__img {
    display: block;
    max-width: 100%;
    height: 150px;
    margin-bottom: 30px;
}

@media (max-width: 991px) {
    .advantages__img {
        height: 100px;
        margin-bottom: 10px;
    }
}

.advantages__paragraph {
    margin: 0;
    font-size: 1.7rem;
    line-height: 1.4;
}

@media (max-width: 991px) {
    .advantages__paragraph {
        font-size: 1.3rem;
    }
}

/* Reg */

.reg {
    background-color: #f4f4f4;
}

.reg__content {
    position: relative;
}

.reg__img {
    position: absolute;
    top: -150px;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    max-width: 100%;
    height: auto;
}

@media (max-width: 991px) {
    .reg__img {
        width: 150px;
        top: -120px;
    }
}

.reg__form {
    padding: 50px 0;
}

.reg__input,
.reg__input::placeholder {
    font-size: 2rem;
}

@media (max-width: 991px) {
    .reg__input,
    .reg__input::placeholder {
        font-size: 1.2rem;
    }
}

.reg__message {
    margin: 0 0 30px 0;
    font-size: 1.5rem;
    text-align: center;
}

@media (max-width: 991px) {
    .reg__message {
        font-size: 1.2rem;
    }
}

/* Subtitle */

.subtitle {
    margin: 0;
    text-transform: uppercase;
    font-size: 3.5rem;
    line-height: 1.2;
}

@media (max-width: 991px) {
    body .subtitle {
        font-size: 2rem;
        text-align: center;
    }
}

@media (max-width: 568px) {
    body .subtitle {
        font-size: 1.4rem;
    }
}

.subtitle--right {
    text-align: right;
}

.subtitle--center {
    text-align: center;
}

.reg__paragraph {
    margin: 0 0 200px 0;
    text-align: center;
    font-size: 3.5rem;
}

@media (max-width: 991px) {
    .reg__paragraph {
        font-size: 1.5rem;
    }
}

.reg__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 20px 99px #00000029;
    border-radius: 60px;
    margin: 0 auto;
    box-sizing: border-box;
}

@media (min-width: 991px) {
    .reg__form {
        width: 70%;
        padding: 150px;
    }
}

.reg__input,
.reg__select {
    width: 100%;
    margin-bottom: 30px;
    padding: 25px;
    padding: 20px 25px;
    border-radius: 60px;
    border: 1px solid #777777;
    font-family: inherit;
    box-sizing: border-box;
    font-size: 1.3rem;
}

@media (max-width: 991px) {
    .reg__input,
    .reg__select {
        width: 80%;
    }
}

.reg__select {
    background-color: #fff;
}

.reg__btn {
    padding: 33px 46px;
    background-color: var(--colorMain);
    color: #ffffff;
    border: none;
    width: auto;
    box-shadow: 0 20px 60px #00000029;
    border-radius: 60px;
    font-size: 3rem;
    transition: background-color 0.3s;
}

.reg__btn:hover {
    cursor: pointer;
    background-color: #86c171;
}

@media (max-width: 991px) {
    .reg__btn {
        padding: 15px 20px;
        font-size: 1.5rem;
    }
}

.reg__link {
    color: #000;
}

/* Modal */

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: #3e5eaa 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;
    backdrop-filter: blur(18px);
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;
}

.modal__img {
    position: relative;
    top: 40px;
    left: 50%;
    transform: translate(-50%);
    z-index: 1;
    width: 150px;
}

.modal__wrap {
    position: relative;
}

.modal__content {
    max-width: 500px;
    margin: 0 15px;
    border-radius: 5px;
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.modal--open {
    z-index: 2;
    visibility: visible;
    opacity: 1;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.modal--open .modal__content {
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

.modal__title {
    margin: 0;
    padding: 10px 15px;
    background-color: #fff;
    border-radius: 5px 5px 0 0;
    border-bottom: 3px solid var(--baseColor, #22a200);
    font-size: 2rem;
    text-align: center;
}

@media (max-width: 991px) {
    .modal__title {
        padding: 13px 15px;
        font-size: 1.5rem;
    }
}

.modal__form {
    position: relative;
    padding: 15px 20px;
    background-color: #fff;
    box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.2);
    border-radius: 60px;
    text-align: center;
}

@media (min-width: 568px) {
    .modal__form {
        padding: 1.5rem;
    }
}

/* Tabs */

.tabs {
    width: 100%;
    padding: 0;
}

.tabs__list {
    justify-content: flex-end;
    margin: 0;
    padding: 0;
}

@media (max-width: 991px) {
    .tabs__list {
        justify-content: center;
        margin-top: 30px;
    }
}

.tabs__list li,
.tabs__list a {
    display: inline-block;
}

@media (max-width: 568px) {
    .tabs__list li,
    .tabs__list a {
        display: block;
    }
}

.tabs__list a {
    margin: 0;
    text-decoration: none;
}

.tabs__section {
    margin: 0;
}

@media (max-width: 568px) {
    .tabs__section {
        border-top: none;
    }
}

.btn--close {
    position: absolute;
    top: 150px;
    right: -60px;
    width: 84px;
    height: 84px;
    border: none;
    border-radius: 5px;
    transition: 0.3s;
    cursor: pointer;
    background: none;
}

.btn--close:hover {
    transform: scale(1.2);
}

.cross {
    position: absolute;
    width: 3px;
    height: 3px;
    transform: translateX(-50%) translateY(-50%);
}

.cross::before,
.cross::after {
    content: "";
    position: absolute;
    left: -8px;
    width: 40px;
    height: 2px;
    background-color: #fff;
}

.cross::before {
    top: 1px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.cross::after {
    bottom: 0;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
}

.block {
    width: 100%;
}

.modal__form {
    padding: 50px 15px;
}

.modal__input,
.modal__input::placeholder {
    font-size: 1.5rem;
}

@media (max-width: 991px) {
    .modal__input,
    .modal__input::placeholder {
        font-size: 1.2rem;
    }
}

.modal__message {
    margin: 0 0 30px 0;
    font-size: 1.2rem;
    text-align: center;
}

@media (max-width: 991px) {
    .modal__message {
        font-size: 1.2rem;
    }
}

.modal__input,
.modal__select {
    width: 100%;
    margin-bottom: 30px;
    padding: 25px;
    padding: 10px 25px;
    border-radius: 60px;
    border: 1px solid #777777;
    font-family: inherit;
    box-sizing: border-box;
    font-size: 1.1rem;
}

/* Scroll hidden */

.scroll--hidden {
    overflow-y: hidden;
}

.header-bg {
    backdrop-filter: none;
}

.modal__btn {
    padding: 20px 30px;
    background-color: var(--colorMain);
    color: #ffffff;
    border: none;
    width: auto;
    box-shadow: 0 20px 60px #00000029;
    border-radius: 60px;
    font-size: 1rem;
    transition: background-color 0.3s;
    margin: 0 auto;
}

.modal__btn:hover {
    cursor: pointer;
    background-color: #86c171;
}

@media (max-width: 991px) {
    .modal__btn {
        padding: 15px 20px;
        font-size: 1.5rem;
    }
}
